.container{
padding-left: 0;
padding-right: 0;
width: 288px;
margin-left: auto;
margin-right: auto;
}


@media screen and (min-width: 768px) {
    .container{
        width: 736px;
    }
}

@media screen and (min-width: 1158px) {
   .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  } 
}